<div class="entry">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li>
            <a href="#!/home">Home</a>
          </li>
          <li>
            <a href="#!/my-profile">{{ 'MYPROFILE' | translate }} </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">  
        <form name="myform">
          <div class="form-group">
            <label for="name"> {{ 'NAME' | translate }} :</label>
            <input ng-model="user.name" ng-required="true" type="text" class="form-control" id="name"> 
          </div>
          <div class="form-group">
            <label for="surname">{{ 'SURNAME' | translate }} :</label>  
            <input ng-model="user.surnname" ng-required="true" type="text" class="form-control" id="surname"> 
          </div>
          <div class="form-group">
            <label for="username">{{ 'USERNAME' | translate }}  :</label>
            <input ng-model="user.username" nng-required="true" type="text" class="form-control" id="username">
          </div>
          <div class="form-group">
            <label for="pwd">{{ 'PASSWORD' | translate }} :</label>
            <input ng-model="user.password" ng-required="true" type="password" class="form-control" id="pwd">
          </div>
          <div class="form-group">
            <label for="pwd2">{{ 'PASSWORDREPEAT' | translate }} :</label>
            <input ng-model="user.password2" ng-required="true" type="password2" class="form-control" id="pwd2">
          </div>
          <div class="form-group">
            <label for="email">  Email :</label>
            <input ng-model="user.email" ng-required="true" type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="address">{{ 'ADDRESS' | translate }}:</label>
            <input ng-model="user.address" ng-required="true" type="text" class="form-control" id="address">
          </div>
          <div class="form-group">
            <label for="companyinfo">{{ 'COM_INFO' | translate }}:</label>
            <input ng-model="user.companyinfo" ng-required="true" type="text" class="form-control" id="companyinfo">
          </div> 
          <div class="form-group">
              <label for="picture">{{ 'PICTURE' | translate }}  :</label>
            <div class="input-group image-preview">
                <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span>{{ 'CLEAR' | translate }}  
                    </button>
                    <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span class="image-preview-input-title">{{ 'BROWSE' | translate }} </span>
                        <input ng-model="user.inputfilepreview" ng-required="true" type="file" accept="image/png, image/jpeg, image/gif" name="inputfilepreview"/> <!-- rename it -->
                    </div>
                </span>
            </div>
          </div>
          <div class="checkbox">
            <label>
              <input ng-model="user.rememberlogin" name="rememberlogin" type="checkbox">{{ 'REMEMBER' | translate }}  </label>
          </div> 

          <button  ng-click="myform.$valid && save()" class="btn btn-primary btn-lg">{{ 'SAVE' | translate }}  </button>
 
        </form>
      </div>
    </div>
  </div>
</div>