<div ng-include="'menu/menu.html'"></div>
<div class="entry">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li>
            <a href="#!/home">Home</a>
          </li>
          <li>
            <a href="#!/register">{{ 'REGISTER' | translate }} </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <form name="myform"> 


          <div  id="address_city" class="form-group">
            <label for="address_city"> {{ 'address_city' | translate }} :</label>
            <input id="address_city " ng-model="user.address_city"  type="text" class="form-control" >
          </div>
          <div   class="form-group">
            <label for="address_country_id"> {{ 'address_country_id' | translate }} :</label>
            <input id="address_country_id " ng-model="user.address_country_id"   type="text" class="form-control" >
          </div>
          <div id="address_postal" class="form-group">
            <label for="address_postal"> {{ 'address_postal' | translate }} :</label>
            <input id="address_postal " ng-model="user.address_postal "  type="text" class="form-control" >
          </div>
          <div id="address_street" class="form-group">
            <label for="address_street"> {{ 'address_street' | translate }} :</label>
            <input id="address_street " ng-model="user.address_street "   type="text" class="form-control" >
          </div>
          <div  id="company_address_city" class="form-group">
            <label for="company_address_city"> {{ 'company_address_city' | translate }} :</label>
            <input id="company_address_city " ng-model="user.company_address_city "   type="text" class="form-control">
          </div>
          <div id="company_address_country_id" class="form-group">
            <label for="company_address_country_id"> {{ 'company_address_country_id' | translate }} :</label>
            <input id="company_address_country_id " ng-model="user.company_address_country_id "   type="text" class="form-control" >
          </div>
          <div id="company_address_postal" class="form-group">
            <label for="company_address_postal"> {{ 'company_address_postal' | translate }} :</label>
            <input id="company_address_postal " ng-model="user.company_address_postal "  type="text" class="form-control" >
          </div>
          <div  id="company_address_street" class="form-group">
            <label for="company_address_street"> {{ 'company_address_street' | translate }} :</label>
            <input id="company_address_street " ng-model="user.company_address_street "   type="text" class="form-control" >
          </div>
          <div id="company_name" class="form-group">
            <label for="company_name"> {{ 'company_name' | translate }} :</label>
            <input id="company_name "  ng-model="user.company_name "   type="text" class="form-control" >
          </div>
          <div id="company_vat_no" class="form-group">
            <label for="company_vat_no"> {{ 'company_vat_no' | translate }} :</label>
            <input id="company_vat_no " ng-model="user.company_vat_no "   type="text" class="form-control" >
          </div>
          <div id="date_of_birth" class="form-group">
            <label for="date_of_birth"> {{ 'date_of_birth' | translate }} :</label>
            <input id="date_of_birth "  ng-model="user.date_of_birth "   type="text" class="form-control" >
          </div>
          <div   id="email" class="form-group">
            <label for="email"> {{ 'email' | translate }} :</label>
            <input  id="email " ng-model="user.email "   type="email" class="form-control">
          </div>
          <div id="gender" class="form-group">
            <label for="gender"> {{ 'gender' | translate }} :</label>
            <input id="gender " ng-model="user.gender "   type="text" class="form-control" >
          </div>
          <div id="mobile" class="form-group">
            <label for="mobile"> {{ 'mobile' | translate }} :</label>
            <input id="mobile "  ng-model="user.mobile "   type="text" class="form-control" >
          </div>
          <div id="note" class="form-group">
            <label for="note"> {{ 'note' | translate }} :</label>
            <input id="note " ng-model="user.note "  type="text" class="form-control" >
          </div>
          <div id="password" class="form-group">
            <label for="password"> {{ 'password' | translate }} :</label>
            <input id="password " ng-model="user.password "   type="password" class="form-control">
          </div>

          <div id="password2" class="form-group">
              <label for="password2"> {{ 'password2' | translate }} :</label>
              <input id="password2 " ng-model="user.password2 "   type="password" class="form-control">
            </div>
          <div  id="phone" class="form-group">
            <label for="phone"> {{ 'phone' | translate }} :</label>
            <input id="phone "  ng-model="user.phone "  type="text" class="form-control">
          </div>
          <div  id="surname" class="form-group">
            <label for="surname"> {{ 'surname' | translate }} :</label>
            <input id="surname " ng-model="user.surname "   type="text" class="form-control">
          </div>
          <div  id="travel_document_number" class="form-group">
            <label for="travel_document_number"> {{ 'travel_document_number' | translate }} :</label>
            <input id="travel_document_number " ng-model="user.travel_document_number "   type="text" class="form-control">
          </div>
          <div  id="username" class="form-group">
            <label for="username"> {{ 'username' | translate }} :</label>
            <input id="username " ng-model="user.username "   type="text" class="form-control">
          </div>

          <div id="vat_pin" class="form-group">
            <label for="vat_pin"> {{ 'vat_pin' | translate }} :</label>
            <input id="vat_pin "  ng-model="user.vat_pin "   type="text" class="form-control" >
          </div>

          <div ng-repeat="key in inputs" id="vat_pin" class="form-group">
            <label for="{{ key._id }}"> {{ key.label[language] }} :</label>
            <input class="additional"  id="add{{key._id }}"  type="text" ng-required="testRequirements(key.option)" class="form-control" >
          </div>

          <button  ng-click="myform.$valid && register()"
          class="btn btn-primary btn-lg">{{ 'REGISTER' | translate }} </button>
          

      </form>
          
          
         
 
  
          </div>

    

       
      </div>
    </div>
  </div>
</div>